.superpowers/
*.xcuserstate
DerivedData/
.DS_Store
*.xcuserdatad
*.xcodeproj/xcuserdata/
xcuserdata/
plans/
specs/
*.dmg
*.app/
build/
**/xcshareddata/WorkspaceSettings.xcsettings
**/xcshareddata/swiftpm/